.directory
*/.directory
*~
.idea/
contra-clip-venv/
*.pyc
__pycache__/
*/__pycache__/
dev/
notebooks/
figs/inkscape/
models/pretrained/

scripts/train/BACKUP/
scripts/eval/BACKUP/
scripts/compare/BACKUP/

!experiments/
experiments/*
experiments/latent_codes/TMP/
!experiments/latent_codes/
!experiments/css_betas/
